body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

h1  {
  text-align: center;
  font-size: 5rem;
  color: #f2f2f3;

}

hr {
  border-radius: 500px;
  border-color: white;
  border-width: 10px;
  max-width: 100;
}


.buffer {
  height: 10rem;
}


.btn {  
  font-weight: 750;
  border-radius: 500px;
  text-transform: uppercase;

}

.btn-primary  {
  background-color: royalblue;
  border-color: silver;
}

.btn-primary:hover {
  background-color: red;
  border-color: red;
  border-width: 5px;


}


.btn-xl {
  padding: 1rem 2rem;



}